h1 {
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
}

a {
  color: #202124;
}

.weather-app-wrapper {
  line-height: 1;
}

.weather-app {
  margin-top: 30px;
  max-width: 450px;
  font-family: "Google Sans Text", arial, sans-serif;
  border: 1px solid #d0d6dc;
  border-radius: 7px;
  padding: 15px;
}

.img-temp-units-precip {
  height: 50px;
}

.temperature {
  width: 150px;
  height: 50px;
  color: #202124;
}

#icon {
  width: 60px;
  height: 60px;
  position: relative;
  top: -10px;
}

#temp-value {
  display: inline;
  font-size: 45px;
  line-height: 1;
}

.units {
  vertical-align: top;
  font-size: 10px;
}

.precip-humid-wind {
  line-height: 12px;
  font-size: 10px;
  color: #70757a;
  width: 130px;
  height: 50px;
}

.weather-day-descrip {
  text-align: right;
  margin-left: 90px;
  position: relative;
  top: -40px;
  width: 150px;
}

.weather {
  font-size: 20px;
  line-height: 24px;
  color: #202124;
}

.day,
.description {
  font-size: 12px;
  line-height: 13px;
  color: #70757a;
}

.description:first-letter {
  text-transform: capitalize;
}

.coded-by {
  font-size: 10px;
}

.coded-by-link {
  color: rgb(89, 26, 224);
}
