h1 {
  margin-bottom: 20px;
}

.weather-app-wrapper {
  line-height: 1;
}

.weather-app {
  margin-top: 30px;
  max-width: 500px;
  font-family: "Google Sans Text", arial, sans-serif;
  border: 1px solid #d0d6dc;
  border-radius: 7px;
  padding: 15px;
}

.img-temp-units-precip {
  height: 50px;
}

.temperature {
  width: 90px;
  height: 50px;
  color: #202124;
}

.precip-humid-wind {
  line-height: 12px;
  font-size: 10px;
  color: #70757a;
  width: 90px;
  height: 50px;
}

#icon {
  width: 60px;
  height: 60px;
  position: relative;
  top: -10px;
}

.temp-value {
  display: inline;
  font-size: 45px;
  line-height: 1;
}

.units {
  vertical-align: top;
  font-size: 10px;
}

.weather-day-descrip {
  text-align: right;
  margin-left: 120px;
  position: relative;
  top: -30px;
}

.weather {
  font-size: 22px;
  line-height: 26px;
  color: #202124;
}

.day,
.description {
  font-size: 16px;
  line-height: 20px;
  color: #70757a;
}

a:link {
  text-decoration: none;
}

a {
  color: #202124;
}

.coded-by-link {
  color: rgb(89, 26, 224);
}

.coded-by {
  font-size: 10px;
}
